- var i = 0;
- var index = 0;
each row in rows
	.box.box-success
		.box-header.with-border
			.pull-left
				h3.box-title Row #{i+1}
			.pull-right
				a(href="#removeAds",onclick="removeAds(#{i+1});") remove
		.box-body
			- var index = 0;
			each ad in row.ads
				div(style="display: inline; margin-right: 20px;")
					img.ads.margin(src='#{ad.image}' style="width: 150px; height: 100px;" onclick='id_edit_row=#{row.id};id_edit_index=#{index};hideProgress();url_image_edit="#{ad.image}";$("#nameAdsEdit").val("#{ad.text}");$("#siteUrlEdit").val("#{ad.site}");id_add_row=#{row.id};$("#modalEdit").modal("show");')
					a(style="position: absolute;", onclick='id_delete_row=#{row.id};id_delete_index=#{index};$("#modalDelete").modal("show");') 
						i.fa.fa-times
				- index++;
			div(style="display: inline; margin-right: 20px;")
				img.ads.margin(src='http://placehold.it/150x100',onclick='hideProgress();url_image_add="";id_add_row=#{row.id};$("#modalAdd").modal("show");')
	- i++;