doctype html
html
	head
		title= subject
	body
	img(src="cid:tmpicture")
	br
	strong TunjukMaterial
	br
	br
	br
	br
	br
	| Dear <strong>#{param.name},</strong>
	br
	br
	| System kami telah konfirmasi perubahan PIN pada login anda.
	br
	br
	| Jika Anda tidak melakukan perubahan PIN, mohon hubungi kami melalui email : #{param.support.email}
	br
	| atau melalui Telp : #{param.support.phone}  pada pukul : #{param.support.operationaltime}
	br
	br
	br
	br
	| Hormat Kami,
	br
	br
	br
	br
	| Team TunjukMaterial