doctype html
html
	head
		title= subject
	body
	img(src="cid:tmpicture")
	br
	strong TunjukMaterial
	br
	br
	br
	br
	br
	| Dear 
	strong= param.name
	| ,
	br
	br
	| Terima kasih telah menggunakan TunjukMaterial untuk membantu penjualan anda.
	br
	br
	| Anda menerima pesanan baru. Silahkan konfirmasi pesanan dalam waktu 60 menit.
	br
	br
	| Jika Anda memiliki Pertanyaan lebih lanjut, hubungi kami melalui email : #{param.support.email}
	br
	| atau melalui Telp : #{param.support.phone}  pada pukul : #{param.support.operationaltime}
	br
	br
	br
	br
	| Hormat Kami,
	br
	br
	br
	br
	| Team TunjukMaterial