doctype html
html
	head
		title= subject
	body
	img(src="cid:tmpicture")
	br
	strong TunjukMaterial
	br
	br
	br
	br
	br
	| Dear <strong>#{param.name},</strong>
	br
	br
	| Selamat, Anda telah test berhasil bergabung sebagai <strong>Member Buyer</strong> TunjukMaterial
	br
	br
	| Sebagai member TunjukMaterial, anda akan menikmati pengalaman baru dalam berbelanja Bahan Bangunan
	br
	br
	| Jika Anda memiliki Pertanyaan lebih lanjut, hubungi kami melalui email : #{param.support.email}
	br
	| atau melalui Telp : #{param.support.phone}  pada pukul : #{param.support.operationaltime}
	br
	br
	br
	br
	| Hormat Kami,
	br
	br
	br
	br
	| Team TunjukMaterial