meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
link(rel="stylesheet" href="#{js_cms_fullhost}bootstrap/css/bootstrap.css")
link(rel="stylesheet" href="#{js_cms_fullhost}css/font-awesome.min.css")
link(rel="stylesheet" href="#{js_cms_fullhost}css/ionicons.min.css")
link(rel="stylesheet" href="#{js_cms_fullhost}css/AdminLTE.min.css")
link(rel="stylesheet" href="#{js_cms_fullhost}plugins/iCheck/square/blue.css")
link(rel="stylesheet" href="#{js_cms_fullhost}plugins/datatables/dataTables.bootstrap.css")
link(rel="stylesheet" href="#{js_cms_fullhost}plugins/datatables/jquery.dataTables.min.css")
link(rel="stylesheet" href="#{js_cms_fullhost}plugins/datepicker/datepicker3.css")
link(rel="stylesheet" href="#{js_cms_fullhost}plugins/select2/select2.min.css")
link(rel="stylesheet" href="#{js_cms_fullhost}css/skins/_all-skins.min.css")
link(rel="stylesheet" href="#{js_cms_fullhost}css/ihover.min.css")
link(rel="stylesheet" media="all" href="#{js_cms_fullhost}css/cms.css")
link(rel="stylesheet" href="#{js_cms_fullhost}css/selectize.bootstrap3.css" data-theme="bootstrap3")
block css
