script(src="#{js_cms_fullhost}plugins/jQuery/jQuery-2.2.0.min.js")
script(src="#{js_cms_fullhost}bootstrap/js/bootstrap.min.js")
script(src="#{js_cms_fullhost}plugins/slimScroll/jquery.slimscroll.min.js")
script(src="#{js_cms_fullhost}plugins/fastclick/fastclick.js")
script(src="#{js_cms_fullhost}js/app.min.js")
script(src="#{js_cms_fullhost}js/js_cms.js")
script(src="#{js_cms_fullhost}js/js.cookies.js")
